<div class="container">
    <div class="row justify-content-center">
        <div class="col-xl-6 col-lg-6 col-md-8 col-sm-12" style="margin-bottom: 50px;">
            <div style="display: flex; justify-content: center; margin-top: 40px;">
                <%= link_to "ARTISTS", root_path, class: "toggle-button-on", style: "border-radius: 4px 0px 0px 4px;" %>
                    <%= link_to "STUDIOS", studios_path, class: "toggle-button-off", style: "border-radius: 0px 4px 4px 0px;" %>
            </div>
            <h1 style="padding-top: 30px;">Tattoo artists near you</h1>
            <%= form_tag(artists_path, method: "get", class: "d-flex align-items-center flex-nowrap") do %>
                <%= select_tag(:city_query, options_for_select(@cities, @selected_city), class: "city-filter") %>
                    <%= submit_tag("Search", id: "search-button", style: "margin-left: 5px; padding: 5px 20px 5px 20px; border: black 1px solid; border-radius: 4px; flex-shrink: 0;") %>
                        <% end %>

                            <h1 style="text-align: center; padding-top: 10px;">Styles</h1>
                            <div class="filter-tags">
                                <% @filtered_styles.each do |style| %>
                                    <%= form_tag(artists_path, method: "get") do %>
                                        <%= hidden_field_tag(:style_query, style) %>
                                            <%= submit_tag(style, class: "style-filter" ) %>
                                                <% end %>
                                                    <% end %>
                            </div>

                            <% @artists.each do |artist| %>
                                <% if artist.artist_artwork.attachments.present? %>
                                    <%= link_to artist_path(artist), class: "explore-artist" do %>
                                        <div class="mx-auto d-block" style="width: 100%; height: 150px; margin-top: 10px; border-radius: 4px; background-image: linear-gradient(rgba(0, 0, 0, 0), rgba(0, 0, 0, 0.2)), url('<%= cdn_for_artists(artist.artist_artwork.first) %>'); background-position: center center; background-size: 100%;">
                                            <div class="card-text">
                                                <p style="padding-top: 10px;">
                                                    <%= artist.name %>
                                                </p>
                                                <div style="margin-top: 30px;">
                                                    <% if artist.studio_id? %>
                                                        <p>
                                                            <%= artist.studio.name %>
                                                        </p>
                                                        <% end %>
                                                            <div class="scroll-tags">
                                                                <% artist.styles.each do |style| %>
                                                                    <div class="style-div">
                                                                        <span><%= style %></span>
                                                                    </div>
                                                                    <% end %>
                                                            </div>
                                                </div>
                                            </div>
                                        </div>
                                        <% end %>
                                            <% elsif artist.instagram_media.present? %>
                                                <% media = eval(artist.instagram_media.first)['media_url'] %>
                                                    <%= link_to artist_path(artist), class: "explore-artist" do %>
                                                        <% if media.include? "video" %>
                                                            <div class="mx-auto d-block" style="width: 100%; height: 150px; margin-top: 10px; border-radius: 4px;"><video style="height: 100%; width: 100%; background-position: center center; background-size: 100%; object-fit: cover;" src="<%= video_url(media) %> " type="video/mp4" autoplay loop muted webkit-playsinline
                                                                    playsinline onerror="this.parentNode.style.display='none'">
                                                        <% else %>
                                                            <div class="mx-auto d-block" style="width: 100%; height: 150px; margin-top: 10px; border-radius: 4px; background-image: linear-gradient(rgba(0, 0, 0, 0), rgba(0, 0, 0, 0.2)), url('<%= media %>'); background-position: center center; background-size: 100%;">
                                                                <% end %>
                                                                <div class="card-text">
                                                                    <p style="padding-top: 10px;">
                                                                        <%= artist.name %>
                                                                    </p>
                                                                    <div style="margin-top: 30px;">
                                                                        <% if artist.studio_id? %>
                                                                            <p>
                                                                                <%= artist.studio.name %>
                                                                            </p>
                                                                            <% end %>
                                                                                <div class="scroll-tags">
                                                                                    <% artist.styles.each do |style| %>
                                                                                        <div class="style-div">
                                                                                            <span><%= style %></span>
                                                                                        </div>
                                                                                        <% end %>
                                                                                </div>
                                                                    </div>
                                                                </div>
                                                            </div>
                                                            <% end %>
                                                                <% end %>
                                                                    <% end %>
        </div>
    </div>
</div>