<div class="container">
    <div class="row justify-content-center">
        <div class="col-12 col-lg-6">
            <h1 class="text-center" style="padding-top: 50px;">Tattoo artists near you</h1>
            <% @artists.each do |artist| %>
                <% if (artist.artist_artwork.attachments.present?) %>
                    <div class="mx-auto d-block" style="height: 150px; width: 400px; background-image: linear-gradient(rgba(0, 0, 0, 0), rgba(0, 0, 0, 0.2)), url('<%= rails_blob_url(artist.artist_artwork.first) %>'); background-position: center center; background-size: 100%;">
                        <p class="card-text">
                            <%= artist.name %>
                        </p>
                        <p class="card-text">
                            <%= artist.address %>
                        </p>
                        <p class="card-text">
                            <%= artist.studio %>
                        </p>
                        <%= link_to "explore artist", artist_path(artist), class: "card-text explore-artist" %>
                    </div>
                    <div style="height: 20px;">
                    </div>
                    <% end %>
                        <% end %>
        </div>
    </div>
</div>