<div class="container">
    <div class="row justify-content-center">
        <div class="col-xl-6 col-lg-6 col-md-8 col-sm-12">
            <h3 style="margin-top: 20px;">
                <%= @artist.name %>
            </h3>
            <h6>
                <%= @artist.studio %>
            </h6>
            <div style="margin-left: 50px; margin-bottom: 20px;">
                <span>Style</span>
                <span class="icon"></span>
                <span>
                        <%= @artist.styles %>
                    </span>
                <!-- <p style="margin-top: 5px;">
                    Price minimum
                    <%= number_to_currency(@artist.minimum) %>
                </p> -->
            </div>
            <div class="image-card">
                <% if (@artist.artist_artwork.attachments.present?) %>
                    <% @artist.artist_artwork.each do |artwork| %>
                        <div class="image-item"><img class="artist-images" src="<%= rails_blob_url(artwork) %>" width="225px"></div>
                        <% end %>
                            <% end  %>
            </div>
            <div class="text-center" style="margin-top: 40px;">
                <p>
                    <%= link_to "REQUEST APPOINTMENT", new_artist_reservation_path(@artist), class: "primary-button" %>
                </p>
                <p>
                    <%= link_to "Back to artist explore", root_path, class: "secondary-button" %>
                </p>
            </div>
        </div>
    </div>
</div>