<div class="container">
    <div class="row justify-content-center">
        <div class="col-12 col-lg-6">
            <h1>artist info</h1>
            <% if (@artist.artist_artwork.attachments.present?) %>
                <% @artist.artist_artwork.each do |artwork| %>
                    <div class="mx-auto d-block" style="height: 400px; width: 400px; background-image: linear-gradient(rgba(0, 0, 0, 0), rgba(0, 0, 0, 0)), url('<%= rails_blob_url(artwork) %>'); background-position: center center; background-size: 100%;">
                    </div>
                    <% end %>
                        <% end  %>
                            <p>
                                <%= @artist.name %>
                            </p>
                            <p>
                                <%= @artist.address %>
                            </p>
                            <p>
                                <%= @artist.phone %>
                            </p>
                            <p>
                                <%= @artist.email %>
                            </p>
                            <p>
                                <%= @artist.styles %>
                            </p>
                            <p>
                                <%= @artist.studio %>
                            </p>
                            <p>
                                <%= @artist.minimum %>
                            </p>
                            <div class="text-center">
                                <p>
                                    <%= link_to "MAKE AN APPOINTMENT", new_artist_reservation_path(@artist), class: "primary-button" %>
                                </p>
                                <p>
                                    <%= link_to "Back to artist explore", root_path, class: "secondary-button" %>
                                </p>
                            </div>
        </div>
    </div>
</div>