<div class="container">
    <h1>artist info</h1>
    <% if (@artist.artist_artwork.attachments.present?) %>
        <% @artist.artist_artwork.each do |artwork| %>
            <div style="height: 400px; width: 400px; background-image: linear-gradient(rgba(0, 0, 0, 0), rgba(0, 0, 0, 0)), url('<%= rails_blob_url(artwork) %>');">
            </div>
        <% end %>
    <% end  %>
    <p><%= @artist.name %></p>
    <p><%= @artist.address %></p>
    <p><%= @artist.phone %></p>
    <p><%= @artist.email %></p>
    <p><%= @artist.styles %></p>
    <p><%= @artist.studio %></p>
    <p><%= @artist.minimum %></p>
    <%= link_to "MAKE AN APPOINTMENT", new_artist_reservation_path(@artist) %>
    <%= link_to "Back to artist explore", root_path %>
</div>