<h1>artist info</h1>
<p><%= @artist.name %></p>
<p><%= @artist.address %></p>
<p><%= @artist.phone %></p>
<p><%= @artist.email %></p>
<p><%= @artist.styles %></p>
<p><%= @artist.studio %></p>
<p><%= @artist.minimum %></p>
<%= link_to "MAKE AN APPOINTMENT", new_artist_reservation_path(@artist) %>
<%= link_to "Back to artist explore", root_path %>