<!Doctype html>
<html lang="en-US">

<head>
    <meta content="text/html; charset=utf-8" http-equiv="Content-Type" />
</head>

<body>
    <table width="60%" border="0" cellspacing="0" cellpadding="0" style="margin-left:auto;margin-right:auto;">
        <tr>
            <td style="text-align: center; color: black;">
                <img src="https://d1kgepbrti30bz.cloudfront.net/Primary+Mark.png" height="150">
                <h1 class="confirmation-header" style="margin-top: 0px;">New Artist Signup!</h1>
                <p>Thank you for requesting to join as a featured artist on Mad Rabbit’s booking platform. Please see below for details of your request:</p>
                <div style="text-align: left; margin-top: 20px; margin-bottom: 20px;">
                    <p>
                        Name:
                        <%= artist.name %>
                    </p>
                    <p>
                        Email:
                        <%= artist.email %>
                    </p>
                    <p>
                        Studio:
                        <%= artist.name %>
                    </p>
                    <p>
                        Studio address:
                        <%= artist.address %>,
                            <%= artist.city %>
                    </p>
                    <% if artist.instagram %>
                        <p>
                            Instagram handle:
                            <%= artist.instagram %>
                        </p>
                        <% end %>
                            <% if artist.styles %>
                                <p>
                                    Styles:
                                    <%= artist.styles.join(", ") %>
                                </p>
                                <% end %>
                </div>
                <p>We will review your application within the next 2-3 business days and you will receive a follow up confirmation once set up.</p>
                <p>The Mad Rabbit Team</p>
                <a href="mailto:help@madrabbit.com" target="_blank" style="color: white; background: none; background-color: black; vertical-align: middle; padding: 10px 40px; text-decoration: none; border:  1px solid black; border-radius: 4px; display: inline-block;">
                    HAVE A QUESTION?             
                </a>
            </td>
        </tr>
    </table>
</body>

</html>