<!Doctype html>
<html lang="en-US">

<head>
    <meta content="text/html; charset=utf-8" http-equiv="Content-Type" />
</head>

<body>
    <table width="60%" border="0" cellspacing="0" cellpadding="0" style="margin-left:auto;margin-right:auto;">
        <tr>
            <td style="text-align: center; color: black;">
                <img src="https://d1kgepbrti30bz.cloudfront.net/Primary+Mark.png" height="150">
                <h1 class="confirmation-header" style="margin-top: 0px;">Tattoo appointment request confirmed!</h1>
                <img src="https://d1kgepbrti30bz.cloudfront.net/tattoo_sleeve1.png" height="400">
                <p style="text-align: left;">Hi
                    <%= reservation.user.first_name %>,
                </p>
                <p>Thank you for requesting your tattoo appointment through Mad Rabbit! Please see below for details of your request:</p>
                <div style="text-align: left; margin-top: 20px; margin-bottom: 20px;">
                    <p>
                        Date availability:
                        <%= reservation.appt_start %> to
                            <%= reservation.appt_end %>
                    </p>
                    <p>
                        Tattoo Artist:
                        <%= reservation.artist.name %>
                    </p>
                    <p>
                        Studio:
                        <%= reservation.artist.studio_name %>
                    </p>
                    <p>
                        Address:
                        <%= reservation.artist.address %>
                    </p>
                    <p>
                        Tattoo Location:
                        <%= reservation.tattoo_placement %>
                    </p>
                    <p>
                        Coverup:
                        <% if reservation.cover_up == true %>
                            <%= "Yes" %>
                                <% else %>
                                    <%= "No" %>
                                        <% end %>
                    </p>
                </div>
                <p>You should receive a follow up from the shop location within 5-7 business days. Please contact us for any support questions regarding your reservation request!</p>
                <p>The Mad Rabbit Team</p>
                <a href="mailto:booking@madrabbit.com" target="_blank" style="color: white; background: none; background-color: black; vertical-align: middle; padding: 10px 40px; text-decoration: none; border:  1px solid black; border-radius: 4px; display: inline-block;">
                    NEED HELP?             
                </a>
            </td>
        </tr>
    </table>
</body>

</html>