<div class="container">
    <div class="row justify-content-center">
        <div class="col-xl-6 col-lg-6 col-md-8 col-sm-12">
            <div style="margin-left: 40px; width: 80%;">
                <h3>Your info</h3>
                <p style="margin-top: 40px;">Name</p>
                <p style="text-align: left; border-bottom: 2px solid black;">
                    <%= @user.first_name %>
                        <%= @user.last_name %>
                </p>
                <p>Phone</p>
                <p style="text-align: left; border-bottom: 2px solid black;">
                    <%= @user.phone %>
                </p>
                <p>Email</p>
                <p style="text-align: left; border-bottom: 2px solid black;">
                    <%= @user.email %>
                </p>
                <p style="margin-top: 100px;">
                    <%= link_to "LOGOUT", destroy_user_session_path, method: :delete, class: "btn upload-button" %>
                </p>
            </div>
        </div>
    </div>
</div>