<div class="container">
    <div class="row justify-content-center">
        <div class="col-xl-6 col-lg-6 col-md-8 col-sm-12">
            <%= link_to :back do %>
                <img class="header-icons" style="float: right; margin-top: 20px; margin-right: 8px;" src="<%= image_url('x.svg') %>">
                <% end %>
                    <div style="margin-left: 20px; margin-top: 100px;">
                        <p>
                            <%= link_to "SHOP", "https://www.madrabbit.com/collections/all-products", style: 'text-decoration: none; color: black;' %>
                        </p>
                        <p>
                            <%= link_to "BOOK A TATTOO", root_path, style: 'text-decoration: none; color: black;' %>
                        </p>
                        <p>
                            <%= link_to "BECOME A FEATURED TATTOO ARTIST", new_artist_path, style: 'text-decoration: none; color: black;' %>
                        </p>
                        <p>
                            <%= link_to "WHOLESALE", "https://www.madrabbit.com/pages/wholesale", style: 'text-decoration: none; color: black;' %>
                        </p>
                        <p>
                            <%= link_to "LOCATIONS", "https://www.madrabbit.com/pages/wholesale-locations", style: 'text-decoration: none; color: black;' %>
                        </p>
                    </div>
        </div>
    </div>
</div>