<div class="container">
    <div class="row justify-content-center">
        <div class="col-12 col-lg-6">
            <%= link_to :back do %>
                <img class="header-icons" style="float: right; margin-top: 20px; margin-right: 20px;" src="<%= image_url('x.svg') %>">
                <% end %>
                    <div style="margin-left: 20px; margin-top: 100px;">
                        <p>
                            <%= link_to "MEMBERSHIP", "https://www.madrabbit.com/pages/subscription", style: 'text-decoration: none; color: black;' %>
                        </p>
                        <p>
                            <%= link_to "BOOK A TATTOO", root_path, style: 'text-decoration: none; color: black;' %>
                        </p>
                        <p>
                            <%= link_to "AMBASSADOR", "https://www.madrabbit.com/pages/ambassador", style: 'text-decoration: none; color: black;' %>
                        </p>
                        <p>
                            <%= link_to "INGREDIENTS", "https://www.madrabbit.com/pages/ingredients", style: 'text-decoration: none; color: black;' %>
                        </p>
                        <p>
                            <%= link_to "WHOLESALE", "https://www.madrabbit.com/pages/wholesale", style: 'text-decoration: none; color: black;' %>
                        </p>
                        <p>
                            <%= link_to "LOCATIONS", "https://www.madrabbit.com/pages/wholesale-locations", style: 'text-decoration: none; color: black;' %>
                        </p>
                    </div>
        </div>
    </div>
</div>