<div class="container">
    <div class="row justify-content-center">
        <div class="col-12 col-lg-6">
            <h3 class="text-center">Update reservation</h3>
            <%= simple_form_for [@artist, @reservation] do |f| %>
                <%= f.input :phone %>
                    <%= f.input :tattoo_location %>
                        <%= f.input :artwork %>
                            <%= f.input :artist %>
                                <%= f.input :appt_date %>
                                    <%= f.submit "Book appointment", class: "btn btn-primary" %>
                                        <% end %>
        </div>
    </div>
</div>