<div class="container">
  <h3 class="text-center">New Reservation</h3>
  <%= simple_form_for [@artist, @reservation] do |f| %>
  <%= f.input :tattoo_location %>
  <%= f.input :artwork, as: :file, input_html: { multiple: true } %>
  <%= f.input :cover_up %>
  <%= f.input :style %>
  <%= f.input :appt_date %>
  <%= f.submit "BOOK APPOINTMENT", class: "btn btn-primary" %>
  <% end %>
</div>