<div class="container">
  <h3 class="text-center">New Reservation</h3>
  <%= simple_form_for [@artist, @reservation] do |f| %>
  <%= f.input :phone %>
  <%= f.input :tattoo_location %>
  <%= f.input :artwork %>
  <%= f.input :artist %>
  <%= f.input :appt_date %>
  <%= f.submit "BOOK APPOINTMENT", class: "btn btn-primary" %>
  <% end %>
</div>