<div class="container">
    <div class="row justify-content-center">
        <div class="col-xl-6 col-lg-6 col-md-8 col-sm-12">
            <h3 class="text-center">New Reservation</h3>
            <%= simple_form_for [@artist, @reservation] do |f| %>
                <%= f.input :tattoo_placement %>
                    <br>
                    <%= f.label :artwork, "Upload artwork references", class: "btn upload-button" %>
                        <%= f.input :artwork, as: :file, label: false, input_html: { multiple: true, style: "display: none;" } %>
                            <br>
                            <%= f.label :body_area, "Upload body area images", class: "btn upload-button" %>
                                <%= f.input :body_area, as: :file, label: false, input_html: { multiple: true, style: "display: none;" } %>
                                    <br>
                                    <%= f.input :description, label: "Describe your ideal tattoo", placeholder: 'single-needle, black and gray snake tattoo on right forearm, 5" long' %>
                                        <div style="text-align: center; margin-top: 20px;">
                                            <%= f.input :cover_up, label: "Cover up?", wrapper_html: { style: "display: inline-block;" } %>
                                        </div>
                                        <p style="margin-bottom: 0px; margin-top: 10px;">Preferred date range</p>
                                        <div style="display: table; margin: 0 auto; width: 100%;">
                                            <%= f.input :appt_start, as: :date, label: false, html5: true, wrapper_html: { class: 'date-range' } %>
                                                <%= f.input :appt_end, as: :date, label: false, html5: true, wrapper_html: { class: 'date-range' } %>
                                        </div>
                                        <div class="text-center" style="margin-bottom: 40px;">
                                            <br>
                                            <p>
                                                <%= f.submit "REQUEST AVAILABILITY", class: "primary-button" %>
                                            </p>
                                            <% end %>
                                                <p>
                                                    <%= link_to "Cancel", root_path, class: "secondary-button" %>
                                                </p>
                                        </div>
        </div>
    </div>
</div>