<div class="container">
    <h1>Tattoo appointment confirmed!</h1>
    <% if (@reservation.artwork.attachments.present?) %>
        <% @reservation.artwork.each do |artwork| %>
            <div style="height: 400px; width: 400px; background-image: linear-gradient(rgba(0, 0, 0, 0), rgba(0, 0, 0, 0)), url('<%= rails_blob_url(artwork) %>');">
            </div>
        <% end %>
    <% end  %>
    <p><%= @reservation.appt_date %></p>
    <p><%= @reservation.tattoo_placement %></p>
    <p><%= @reservation.cover_up %></p>
    <p><%= @reservation.color %></p>
    <p><%= @reservation.description %></p>
    <p><%= @reservation.artist.studio %></p>
    <p><%= @reservation.artist.name %></p>
    <% if (@reservation.body_area.attachments.present?) %>
        <% @reservation.body_area.each do |image| %>
            <div style="height: 400px; width: 400px; background-image: linear-gradient(rgba(0, 0, 0, 0.9), rgba(0, 0, 0, 0.6)), url('<%= rails_blob_url(image) %>');">
            </div>
        <% end %>
    <% end  %>
</div>
