<h1>Tattoo appointment confirmed!</h1>
<p><%= @reservation.appt_date %></p>
<p><%= @reservation.tattoo_location %></p>
<p><%= @reservation.cover_up %></p>
<p><%= @reservation.style %></p>
<p><%= @reservation.artist.studio %></p>
<p><%= @reservation.artist.name %></p>
