<!DOCTYPE html>
<html>

<head>
    <title>Mad Rabbit Bookings</title>
    <%= favicon_link_tag 'favicon.ico' %>
        <meta name="viewport" content="width=device-width,initial-scale=1">
        <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
        <%= csrf_meta_tags %>
            <%= csp_meta_tag %>
                <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
                    <%= javascript_pack_tag 'application', 'data-turbolinks-track': 'reload' %>
                        <link href="https://api.tiles.mapbox.com/mapbox-gl-js/v0.44.2/mapbox-gl.css" rel="stylesheet" />
                        <script id="search-js" defer src="https://api.mapbox.com/search-js/v1.0.0-beta.13/web.js">
                        </script>
                        <script>
                            const script = document.getElementById('search-js');
                            script.onload = function() {
                                mapboxsearch.autofill({
                                    accessToken: ENV['MAPBOX_API_KEY'],
                                    options: {
                                        country: 'us '
                                    }
                                });
                            };
                        </script>
                        <% unless controller.controller_name == "pages" && controller.action_name == "navigation" || controller.controller_name == "artists" && controller.action_name == "show"  %>
                            <div class="container">
                                <div class="row justify-content-center">
                                    <div class="col-xl-6 col-lg-6 col-md-8 col-sm-12">
                                        <%= link_to pages_navigation_path, class: 'header-text ', id: 'nav-bar-cart ' do %>
                                            <span><img class="header-icons" src="<%= image_url('menu.svg') %>"><p style="display: inline; padding-left: 5px; font-size: 12px;">MENU</p></span>
                                            <% end %>
                                                <%= link_to root_path do %>
                                                    <img class="header-img" src="<%= image_url('mr_logo_black.png') %>">
                                                    <% end %>
                                                        <div class="header-icons-right">
                                                            <!-- <%= link_to "/" do %>
                                                        <img class="header-icons" style="width: 30px; margin-right: 10px;" src="<%=image_url( 'cart.svg') %>">
                                                        <% end %> -->
                                                            <% if user_signed_in? %>
                                                                <%= link_to user_path(current_user) do %>
                                                                    <img class="header-icons" src="<%= image_url('profile.svg') %>">
                                                                    <% end %>
                                                                        <% else %>
                                                                            <%= link_to user_session_path do %>
                                                                                <img class="header-icons" src="<%= image_url('profile.svg') %>">
                                                                                <% end %>
                                                                                    <% end %>
                                                        </div>
                                    </div>
                                </div>
                            </div>
                            <% end %>
</head>

<body>
    <div id="page-container">
        <div id="content-wrap">
            <%= yield %>
        </div>
        <footer>
            <% unless controller.controller_name == "pages" && controller.action_name == "navigation" %>
                <div id='main-footer '>
                    <div style="text-align: center; background-color: black;">
                        <%= link_to root_path do %>
                            <img class="footer-img" src="<%= image_url('mr_logo_white.png') %>">
                            <% end %>
                    </div>
                    <div style="text-align: center; background-color: black;">
                        <a href="https://www.madrabbit.com/pages/our-story" class="footer-text">#MADRABBIT</a>
                        <br>
                        <br>
                        <a href="https://www.madrabbit.com/collections/all-products" class="footer-text">SHOP</a>
                    </div>
                    <div style="text-align: center; background-color: black; padding-top: 20px;">
                        <a href="https://www.facebook.com/shopmadrabbit"><img src="<%= image_url('facebook.svg') %>" class="footer-icons"></a>
                        <a href="https://www.instagram.com/madrabbit/"><img src="<%= image_url('instagram.svg') %>" class="footer-icons"></a>
                        <a href="https://www.tiktok.com/@madrabbit"><img src="<%= image_url('tiktok.svg') %>" class="footer-icons"></a>
                        <a href="https://discord.gg/REU6fvwp3V"><img src="<%= image_url('discord.svg') %>" class="footer-icons" style="background-color: rgba(255, 255, 255, 1); width: 25px; padding: 5px; border-radius: 6px; margin-left: 20px; margin-right: 20px;" ></a>
                        <a href="https://www.pinterest.com/Madrabbittattoo/_created/"><img src="<%= image_url('pinterest.svg') %>" class="footer-icons"></a>
                        <a href="https://www.youtube.com/c/MadRabbitTattoo"><img src="<%= image_url('youtube.svg') %>" class="footer-icons"></a>
                    </div>
                    <div style="text-align: center; background-color: black; padding-top: 20px;">
                        <p>
                            <a class="footer-text" href="mailto:booking@madrabbit.com">booking@madrabbit.com</a>
                        </p>
                        <p style="margin-bottom: 0px;">
                            <a class="footer-text" href="tel:323-457-8763">(323) 457-8763</a>
                        </p>
                    </div>
                    <div id="footer-closing" style="background-color: black;">
                        <span class="closing-text">© 2021, </span>
                        <a class="closing-text" href="https://www.madrabbit.com/">Mad Rabbit Tattoo</a>
                        <span class="closing-break">|</span>
                        <a class="closing-text" href="https://www.madrabbit.com/policies/terms-of-service">Terms of service</a>
                        <span class="closing-break">|</span>
                        <a class="closing-text" href="https://www.madrabbit.com/policies/privacy-policy">Privacy policy</a>
                    </div>
                </div>
                <% end %>
        </footer>
    </div>
</body>

</html>